services:
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    ports:
      - 3001:3001
    environment:
      - MONGO_URI=mongodb://mongo:27017/user
      - PORT=3001
    depends_on:
      - mongo

  task-service:
    build:
      context: ./task-service
      dockerfile: Dockerfile
    ports:
      - 3002:3002
    environment:
      - MONGO_URI=mongodb://mongo:27017/user
      - PORT=3002
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    ports:
      - 3003:3003
    depends_on:
      - rabbitmq
  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3
    ports:
      - 5672:5672
      - 15672:15672
volumes:
  mongo_data: